/* CSS used here will be applied after bootstrap.css */
body {background: blue;}


.fullspanning-container {width: 100%; background: green;}
.fullspanning-container-max-width {
  background: orange; 
  max-width: 1280px;
  margin:0px auto;
  width: 95%;
}

.fullspanning-container-max-width-content {
  padding: 0 20px 0 20px;
  background: red;
}
    